<h1>EpiSalon Clients</h1>

<% if @clients.any?() %>
  <ul>
    <% @clients.each() do |client| %>
    <li><a href="/client/<%=client.id() %>"><%= client.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p class="text-danger">Well this is awkward...</p>
<% end %>

<form action="/clients/add" method="post">
  <input type="text" name="client_name" placeholder="Client's Name">
  <input type="text" name="client_stylist" placeholder="Client's Stylist">
  <button class="btn btn-warning" name="button">Add Client</button>
</form>
