<h1><%=@client.name()%></h1>

<br>
<br>
<form action= "/client/<%= @client.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="new_name" type="text" placeholder="Change Client Name">
  <input name="new_stylist" type="text" placeholder="Change Client Stylist">
  <button type="submit" class="btn-danger">Edit Client</button>
</form>
