<h1>Clients of <%=@stylist.name()%></h1>

<% if @stylist.clients().any?() %>
  <p>Clients:</p>
  <ul>
    <% @stylist.clients().each() do |client| %>
    <li><%= client.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p class="text-danger"><%= @stylist.name() %> needs to work on networking.</p>
<% end %>

<br>
<br>
<form action= "/stylist/<%= @stylist.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <input id="new_name" name="new_name" type="text" placeholder="Change Stylist Name">
    <button type="submit" class="btn-danger">Edit Stylist</button>
</form>
