<h1>EpiSalon Stylists</h1>

<% if @stylists.any?() %>
  <p>Current Stylists:</p>
  <ul>
    <% @stylists.each() do |stylist| %>
    <li><a href="/stylist/<%=stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p class="text-danger">It's Hiring Time!</p>
<% end %>

<form action="/stylists/add" method="post">
  <input type="text" name="stylist_name" placeholder="Stylist's Name">
  <button class="btn btn-warning" name="button">Add Stylist</button>
</form>
